In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('pricesByAges.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    5  760000

In [4]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

In [7]:
df.bedrooms= df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    5  760000

In [8]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']], df.price)

LinearRegression()

In [9]:
reg.coef_

array([   131.73846071, -33482.05599395,  -6882.22894822])

In [10]:
reg.intercept_

425560.4799481135

In [19]:
reg.predict([[3500,3,10]])

C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([717376.63495838])

price = m1*area + m2*bedrooms + m3*age +b

m1, m2, m3 = coefficient 

b = intercept

In [21]:
131.73846071*3500+-33482.05599395*3+-6882.22894822*10+425560.4799481135

717376.6349690635